.number-marker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #106C57;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  flex-shrink: 0;
}
